.list-body
{
    width: 100%;
}
.list-body li
{
    padding: 5%;
    color: #3A3A3A;

    list-style: none;
    border-bottom-style: solid;
    border-width: thin;
    border-color: grey;
}

.list-body li:hover
{
    padding: 5%;
    background-color: #770FAF;
    color: #E6E6E6;

    list-style: none;
    border-bottom-style: solid;
    border-width: thin;
    border-color: grey;
}


.list-body img
{
    width: 17px;
    height: 17px;
    float: right;
}