body 
{
    font-family: sans-serif;
    margin: 0 auto;
    font-size:0;
}
.header
{
    background-color: #770FAF;
    font-size:0;
    width: 100%;
    float: left;
}

.subheader
{
    margin: 0;
    background-color: #E6E6E6;
    width: 100%;
    display: inline-block;
}

.subheader p
{
    font-size: 12px;
    color: #6A6A6A;
    text-align: left;
    font-weight: bold;
    padding-left: 5%;
    margin: 2%;
}
.header h1
{
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    margin: 5%;
}